* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	font-size: 40px;
}

.submit {
	margin-top: 2em;
	font-size: 16px;
	padding: 1em 3em;
	background: #BADA55;
	color: #000;
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

.card {
	display: inline-block;
	width: 245px;
	margin-right: 5px;
	height: 200px;
	border: 2px solid #ccc;
}
.card:hover {
	border-color: #e2e2e2;
}

.selected {
	background: #eee;
}

.game-board {
	width: 1000px;
	margin: 0 auto;
}

.shape {
	display: inline-block;
	width: 70px;
	height: 200px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 15px;
}
.diamond {
	-webkit-mask-image: url('../images/diamond.png');
}
.wave {
   -webkit-mask-image: url('../images/wave.png');
}
.oval {
	-webkit-mask-image: url('../images/oval.png');
}

.green {
	background: #BADA55;
}
.red {
	background: #F53333;;
}
.purple {
	background: #610BA1;
}

